<div class="header">
  <h1>Ramon Diaz</h1>
</div>

<div class="row">
  <div class="col-3 col-s-3 menu">
    <ul>
      <li onclick="TFunadc(), PFundac()">Fundacion Mujeres al Volante</li>
      <li onclick="TCntu(), PCntu()">CNTU</li>
      <li onclick="TTech(), PTech()">TechFanRD</li>
      <li onclick="TTecno(), PTecno()">Oficina de Ricardo Diaz</li>
    </ul>
  </div>

  <div class="col-6 col-s-9">
    <h1 id="titulo"> Paginas creadas </h1>
    <h4 id="parrafo"> Informacion de las paginas creadas </h4>
  </div>

  <div class="col-3 col-s-12">
    <div class="aside">
      <h2>Ramon Diaz?</h2>
      <p>Desarrollador de sitios web y aplicaciones de escritorio</p>
      <h2>Como?</h2>
      <p>Utilizando las mas actualizadas tecnologias de desarrollo.</p>
      <h2>Donde?</h2>
      <p>A un solo click en nuestro correo electronico ramndiaz@gmail.com.</p>
    </div>
  </div>
</div>

<div class="footer">
  <p>Todos los derechos reservados 2020</p>
</div>